doctype html
html(lang='en')
  head
    title FastBuy - it's basically the title.
    link(rel='stylesheet', href='stylesheets/about.css')
  body
    div.container(id='container')
      h1(id='logo') FastBuy
      p FastBuy is a solution to decision fatigue, which is basically when there's too many choices in a given setting, and even fun experiences like shopping become negative.
      a(href='https://en.wikipedia.org/wiki/Decision_fatigue') Read more about decision fatigue here.
      p Basically, FastBuy returns the best result for any given search, from either Amazon or eBay.
      p Questions/comments? Send me an email, at patrick@didey.net.