doctype html
html(lang='en')
  head
    title FastBuy - it's basically the title.
    link(rel='stylesheet', href='stylesheets/index.css')
  body
    div.container(id='container')
      h1(id='logo') No Items Found For Search
      a(href="https://fastbuy.tech", target="_self") Return to FastBuy 